body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}
/*HEADINGS*/
h2, h3{
    color: #ff0000;
}
/*NAVBAR HEADER*/
header{
    background: linear-gradient(90deg,#E62421, #D91F26);
    padding: 15px 20px;
}
/*LOGO LINK*/
header a.d-inline-flex{
    text-decoration: none;
}
/*NAVBAR LINKS*/
header .nav-link{
    color: #ffffff !important; /*white color for links*/
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s, opacity 0.2s;
}
header .nav-link:hover{
    background: rgba(255, 255, 255, 0.1); 
   color: #ffffff !important;
}

/*BUTTON*/
header .btn-primary{
    background-color: #000000;
    font-weight: 600;
    border: 1px solid #ffffff;
    transition: background-color 0.2s, transform 0.2s;
}
header .btn-primary:hover{
    background-color: #111111;
    transform: translateY(-2px);
}
/*OPERATIONAL: TEXT-SECONDARY LINKS*/
header .link-secpndary{
    color: #ffffff !important;
}
/*BOOK ME BUTTON*/

#about .btn-primary {
    background-color: #ff0000;
    font-weight: 600;
    color: #fff;
    border: 1px solid #000;
    transition: background-color 0.2s, transform 0.2s;
}

#about .btn-primary:hover {
    color: #fff;
    background-color: #111111;
    transform: translateY(-2px);
}

/*PORFOLIO SECTION*/
#custom-cards{
    background-color: #f8f9fa;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#custom-cards h2{
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
}

/*STYLE FOR THE CARDS*/
#custom-cards .card.card-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    transition: transform 0.5rem ease, box-shadow 0.5s ease;
}

/*HOVER EFFECT ON CARDS*/
#custom-cards .card.card-cover:hover{
    transform:scale(1.03);
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.4);
}

/*OVERLAY TEXT STYLING*/
#custom-cards .card.card-cover .text-shadwow-1{
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

 /*TITLE STYLING INSIDE CARDS*/
 #custom-cards .card.card-cover h3{
    margin-top: auto;
    color: white;
 }

 /*LOGO INSIDE CARDS*/
 #custom-cards .card.card-cover ul li img{
    border: 2px solid white;
    object-fit:cover;
 }

 /*RESPONSIVENESS OF CARDS*/
 @media(max-width:576px){
    #custom-cards .card.card-cover{
        height:300px
    }
 }
 @media (max-width:576px){
    #custom-cards .card.card-cover{
        height:300px;
    }
 }
